Docstringer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Docstringer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Docstringer/obj/Debug/Docstringer.csproj.FileListAbsolute.txt
Docstringer/obj/Debug/Docstringer.csproj.GenerateResource.Cache
Docstringer/obj/Debug/Docstringer.csprojResolveAssemblyReference.cache
Docstringer/obj/Debug/Docstringer.exe
Docstringer/obj/Debug/Docstringer.pdb
Docstringer/obj/Debug/Docstringer.Properties.Resources.resources
Docstringer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Docstringer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Docstringer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Docstringer/bin/Debug/Docstringer.exe
Docstringer/bin/Debug/Docstringer.exe.config
Docstringer/bin/Debug/Docstringer.pdb
Docstringer/bin/Debug/Docstringer.vshost.exe
Docstringer/bin/Debug/Docstringer.vshost.exe.config
Docstringer/bin/Debug/Docstringer.vshost.exe.manifest
Docstringer.v11.suo
